<div>
<h1>Sign Up</h1><br>
  <form action="/users" method="POST">
    <label for="fname">First Name</label>
    <input type="text" id="fname" name="user[first_name]" placeholder="Your name..">

    <label for="lname">Last Name</label>
    <input type="text" id="lname" name="user[last_name]" placeholder="Your last name..">

    <label for="email">Email</label>
    <input type="text" id="email" name="user[email]" placeholder="Your email..">

    <label for="password">Password</label>
    <input type="password" id="password" name="user[password]" placeholder="Your password..">

    <input type="submit" value="Submit">
  </form>
</div>
