<div>
  <h1>Welcome back, <%= @user.first_name + ' ' + @user.last_name %>!</h1>

  <h3>Your questions:</h3>
<ol>
  <% @user_questions.each do |question| %>
  <li><a href="/question/<%= question.id %>"><%= question.content %></a></li> <br>
  <% end %>
</ol>
</div>
